/* Page Background */
$page-bg: #313638;

/* Active Widget Frame */
$widget-bg-active: #4c5457;

/* Inactive Widget Frame */
$widget-bg-inactive: #0F1616;

/* Desktop Bar */
$desktop-bg: #0F1616;

/* Widget Chrome Icons & Text */
$chrome-fg: #FFFFFF;

$widget-border-width: 2px;
