.layout.layout-desktop {
    position: relative;

    > .layout-body {
        position: absolute;
        width: 100%;
        top: 0;
        overflow: hidden;
        bottom: 25px;
    }

    > .layout-desktop-taskbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        height: 25px;

        > .widget-chrome {
            cursor: pointer;
            width: 15em;
            height: 25px;
            background: $desktop-bg;
            display: inline-block;
            vertical-align: bottom;
            margin: 0 5px 0 0;
            border: 1px solid transparent;
        }
    }
}

.widget.widget-window {
    position: absolute;

    &.maximized {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }

    &.minimized {
        display: none;
    }
}
