.widget {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border: $widget-border-width solid $widget-bg-inactive;
    box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.15);

    -webkit-border-radius: $chrome-border-radius;
       -moz-border-radius: $chrome-border-radius;
        -ms-border-radius: $chrome-border-radius;
         -o-border-radius: $chrome-border-radius;
            border-radius: $chrome-border-radius;

    &.is-active {
        border-color: $widget-bg-active;

        > .widget-chrome {
            background: $widget-bg-active;
            border-color: $widget-bg-active;
        }
    }

    > .widget-body {
        position: absolute;
        margin-top: 25px;
        border: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
    }

    .widget-iframe {
        width: 100%;
        height: 100%;
        border: 0;
        z-index: 2;
    }
}
.widget-chrome {
    background: $widget-bg-inactive;
    color: $chrome-fg;
    font-size: 10pt;
    height: 25px;
    cursor: default;
    border: $widget-border-width solid $widget-bg-inactive;

    > img {
        max-height: 19px;
        max-width: 19px;
        margin: 3px;
        float: left;
    }

    > .name {
        line-height: 25px;
        white-space: nowrap;
        margin-left: 3px;
        max-width: 115px;
        overflow: hidden;
        display: block;
        float: left;
    }

    > .widget-chrome-controls {
        float: right;
        margin: 3px 6px;

        > li {
            display: inline-block;
            margin-left: 5px;

            > a {
                color: $chrome-fg;

                &:hover {
                    color: darken($chrome-fg, 20%);
                }
            }
        }
    }
}
