html, body, #main, #layout-container {
    background: #f4f7f8;
    width: 100%;
    height: 100%;
}

#drag-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

.layout {
    width: 100%;
    height: 100%;

    &.layout-desktop {
        position: relative;
    }
}

@import 'gridster';
@import 'desktop';
@import 'widget';